<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">

</head>

<body>

    <div class="background">
        <div class="main">
            <h1>{{h1}}</h1>
        </div>
    </div>

</body>

</html>