<!DOCTYPE html>
<html>
<body>
	<h1>Error</h1>
	<p>Insufficent funds</p>
	<p class="lead">
        <a class="btn btn-primary btn-sm" href="/home/{{username}}" role="button">Back to Homepage</a>
    </p>
</body>

	
</html>